*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, rgb(78, 78, 216), rgb(216, 22, 216));
}
.form{
    width: 400px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px;
    padding: 30px 20px;
}
#form h2{
    text-align: center;
    font-size: 2.2em;
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
}
#form-info label{
    font-size: 15px;
    font-weight: 400;
}
#form input{
    width: 80%;
    padding: 10px;
}
#form input, select{
    margin-top: 15px;
    border: 1.3px solid #000;
}
p{
    margin-top: 15px;
}

#form button{
    padding: 10px 50px;
    color: #fff;
    background: linear-gradient(90deg, rgb(78, 78, 216), rgb(216, 22, 216));
    border: 1px solid rgb(78, 78, 216);
    margin-top: 20px;
}

.pop-msg{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    font-family: monospace;
}
.pop-msg h2{
    font-size: 30px;
    font-weight: 900;
}
.pop-msg h4{
    font-size: 20px;
    margin-top: 2em;
}
.pop-msg p{
    font-size: 14px;
}